.section-product-detail {
    padding: 6rem 0;
}
.detail_display {
    .col-7 {
        text-align: center;
    }
    .col-5 {
        .product-card__size {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 7px;
                justify-content: center;
                .product-card__size {
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px gray solid;
                    transition: all 0.5s;
                    &:hover {
                        cursor: pointer;
                        border: 1px black solid;
                    }
                }
        }
    }
}